.App {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  min-height: 100%;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #222222;
  color: white;
  display: grid;
  grid-area: header;
  grid-gap: 10px;
  grid-template-columns: auto 1fr auto;
  padding: 0 10px;
}

.App-logo {
  /*
  animation: App-logo-spin infinite 20s linear;
  */
  height: 80px;
}

.App-title {
  font-size: 1.5em;
  justify-self: end;
  padding: 20px;
}

.App-main {
  grid-area: main;
}

.project {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 8fr 1fr 1fr auto;
  padding: 0 10px;
  width: 90%;
}

.project-name {
  justify-self: start;
}

.project-quotes {
  justify-self: end;
}

.quotes {
  padding: 0 10px 0 40px;
  width: 80%;
}

.quote {
  display: grid;
  grid-gap: 10px;
  /* These widths aren't the greatest responsively. Really, we want third and fourth to be a fixed width (largest-auto in its column). The problem is that each quote is a separate grid (i.e. row). I need to go up a level, but that means abstracting a bit. Can google how to make a table/grid in React. */
  grid-template-columns: 1fr 1fr 0.2fr 0.15fr auto;
}

/* If columns are smaller than text, it'll wrap and the justification seems to be lost. ToDo: Figure out how to fix. */
.quote-description, .quote-vendor, .quote-expiration {
  justify-self: start;
}

.quote-money {
  justify-self: end;
}

.App-footer {
  grid-area: footer;
}
